<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/about.css">
<div class="about-container">
  <h1>About Exampo</h1>
  <p>
    Welcome to Exampo, your ultimate destination for interactive quizzes! Our platform empowers users to 
    create, and participate in quizzes across a wide range of topics. Whether you're an educator 
    looking to enhance learning, a student seeking engaging study tools, or simply a quiz enthusiast, 
    Exampo is designed with you in mind.
  </p>
  <p>
    With our AI-powered quiz generation feature, you can create personalized quizzes tailored to specific 
    topics, saving you time and making learning or teaching more effective. Join our community to explore 
    endless possibilities for fun, learning, and knowledge sharing!
  </p>
  <div class="about-features">
    <h1>Key Features</h1>
    <ul>
      <li>Create and customize your own quizzes</li>
      <li>AI-powered quiz creation for specific subjects</li>
      <li>User-friendly interface</li>
    </ul>
  </div>
  <div class="about-team">
    <h1>About Us</h1>
    <div class="team-cards">
      <div class="team-card">
        <h3>Rayan Alghamdi</h3>
        <p>Front-End Developer</p>
        <a href="https://www.linkedin.com/in/rayan-alghamdi04?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
          <img src="/images/linkedin.png" alt="linkedin" class="linkedin-icon" />
        </a>
      </div>
      <div class="team-card">
        <h3>Abdulmalik Almughaysib</h3>
        <p>Front-End Developer</p>
        <a href="https://www.linkedin.com/in/abdulmalik-almughaysib-136732319?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
          <img src="/images/linkedin.png" alt="linkedin" class="linkedin-icon" />
        </a>
      </div>
      <div class="team-card">
        <h3>Nawaf Alfawaz</h3>
        <p>Front-End Developer, Database Designer</p>
        <a href="https://www.linkedin.com/in/nawaf-alfawaz-64799933b/" target="_blank">
          <img src="/images/linkedin.png" alt="linkedin" class="linkedin-icon" />
        </a>
      </div>
      <div class="team-card">
        <h3>Alwaleed Alfuhid</h3>
        <p>Back-End Developer</p>
        <a href="https://www.linkedin.com/in/alwaleed-alfuhaid-025b772b6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
          <img src="/images/linkedin.png" alt="LinkedIn" class="linkedin-icon" />
        </a>
      </div>
      <div class="team-card">
        <h3>Eyad Alfaifi</h3>
        <p>Full-Stack Developer</p>
        <a href="https://www.linkedin.com/in/eyad-alfaifi/" target="_blank">
          <img src="/images/linkedin.png" alt="LinkedIn" class="linkedin-icon" />
        </a>
      </div>
    </div>
  </div>
</div>
