<footer class="text-center mt-auto">
    <div class="logo">
        <a href="home">
            <img src="/images/newlogo.png" alt="Exampo logo" class="img-fluid footer-logo" style="max-width: 150px;">
        </a>
    </div>
    <div class="copyright">
        <p>© 2024 Exampo. All rights reserved.</p>
    </div>
</footer>
