<head>
  <title>Sign In</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/signcss.css">  
</head>
<body>
  <% layout("layouts/boilerplate") %>

  

  <div class="container1" id="signin">

    <!-- Logo for branding -->
    <img src="/images/logo2.png" alt="Exampo Logo"
      style="width: 40%; max-width: 300px; display: block; margin: 0 auto;">

    <!-- Main title of the form -->
    <h1 class="form-title">Login</h1>

    <!-- Sign-in Form -->
    <form method="post" action="/login">
      <!-- Input group for Username -->
      <div class="input-group">
        <i class="fas fa-user mt-1"></i>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <label for="username" class="mx-2">Username</label>
      </div>
      <!-- Input group for Password -->
      <div class="input-group">
        <i class="fas fa-lock mt-1"></i>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <label for="password" class="mx-2">Password</label>
      </div>
      <!-- Submit button -->
      <input type="submit" class="btn1" value="Login" name="signIn">
    </form>

    <br>
    <!-- Links for new users -->
    <div class="links">
      <p>Don't Have an Account?<span><button onclick="window.location.href = 'register';">Register</button></span></p>
    </div>
  </div>


</body>
</html>