<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="/docs/5.3/assets/js/color-modes.js"></script>
    <title>Logined Home</title>
    <link rel="stylesheet" href="/stylesheets/signuser.css">

</head>
<body>
    <% layout("layouts/boilerplate") %>

    

<!-- Recent Quizzes Section -->
<div class="recent-quizzes-title">
    <h2 style="color: rgb(2, 2, 92);"> <br>&nbsp;&nbsp;Recent Quizzes</h2>
    <hr style="border: 1px solid #333333;">
</div>
<div class="carousel-container">
    <div class="carousel" id="recent-carousel">

        <!-- Add other cards here -->

        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        
        
        


    
        
        
    </div>
    <div class="pagination" id="recent-pagination"></div>
</div>
                                         
 


 
 
    <!-- Top Rated Section -->
    <div class="Top-quizzes-title">
        <h2 style="color: rgb(2, 2, 92);"> <br>&nbsp;&nbsp;Top Rated Quizzes</h2>
        <hr style="border: 1px solid #333;">
    </div>
<div class="carousel-container">
    <div class="carousel" id="most-carousel">

        <!-- Add other cards here -->

        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>
        <div class="ag-courses_item card"> 
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    Math Quiz
                </div>
                <div class="ag-courses-item_user-box">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ag-courses-item_username">
                        fahad
                    </span>
                </div>
                <div class="ag-courses-item_rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="ag-courses-item_rating_value">4.5</span>
                </div>
            </a>
        </div>


    </div>
    <div class="pagination" id="most-pagination" style="margin-bottom: 40px;"></div>
</div>
    <!-- JavaScript -->
    <script>
        function setupCarousel(carouselId, paginationId, cardsPerView) {
            const carousel = document.getElementById(carouselId);
            const cards = carousel.querySelectorAll('.card');
            const pagination = document.getElementById(paginationId);
            const totalCards = cards.length;
            const totalPages = Math.ceil(totalCards / cardsPerView);

            // Generate dots based on the total pages
            for (let i = 0; i < totalPages; i++) {
                const dot = document.createElement('span');
                dot.classList.add('dot');
                if (i === 0) {
                    dot.classList.add('active');
                }
                dot.setAttribute('data-index', i);
                pagination.appendChild(dot);
            }

            let currentPage = 0;

            // Function to update the carousel position
            function updateCarousel(pageIndex) {
                const offset = -(pageIndex * carousel.offsetWidth);
                carousel.style.transform = `translateX(${offset}px)`;

                // Update active dot
                document.querySelector(`#${paginationId} .dot.active`).classList.remove('active');
                pagination.children[pageIndex].classList.add('active');
            }

            // Add event listeners to the dots
            pagination.querySelectorAll('.dot').forEach(dot => {
                dot.addEventListener('click', (e) => {
                    const pageIndex = parseInt(e.target.getAttribute('data-index'));
                    currentPage = pageIndex;
                    updateCarousel(pageIndex);
                });
            });

            // Optional: Add swipe functionality for touch devices
            let isDragging = false;
            let startX = 0;

            carousel.addEventListener('mousedown', (e) => {
                isDragging = true;
                startX = e.pageX;
                carousel.style.cursor = 'grabbing';
            });

            document.addEventListener('mouseup', () => {
                if (isDragging) {
                    isDragging = false;
                    carousel.style.cursor = 'grab';
                }
            });

            carousel.addEventListener('mousemove', (e) => {
                if (!isDragging) return;
                const dx = e.pageX - startX;
                if (dx > 100 && currentPage > 0) {
                    currentPage--;
                    updateCarousel(currentPage);
                    isDragging = false;
                } else if (dx < -100 && currentPage < totalPages - 1) {
                    currentPage++;
                    updateCarousel(currentPage);
                    isDragging = false;
                }
            });
        }

        // Initialize both carousels with pagination
        setupCarousel('recent-carousel', 'recent-pagination', 3);
        setupCarousel('most-carousel', 'most-pagination', 3);
        // ----------------------------------------------------------------
        function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    // Apply random colors to each card
    const cards = document.querySelectorAll('.ag-courses_item .ag-courses-item_bg');
    cards.forEach(card => {
        card.style.backgroundColor = getRandomColor();
    });
    </script>

</body>
</html>

