<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz not found</title>
    <% layout("layouts/boilerplate") %>

<script src="/docs/5.3/assets/js/color-modes.js"></script>

<link rel="stylesheet" href="/stylesheets/signuser.css">
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="input-group m-3" id="searchForm" action="/search" method="get">
                <input type="search" class="form-control rounded" placeholder="Search for Quiz.." aria-label="Search" aria-describedby="search-addon" name="q"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
    </div>
    <br>  <br>  <br>  <br>  <br>  <br>  <br>
    <p><h1> sorry... <br> there is no quiz with same category or title you have entered...</h1></p>
    
    
</body>
</html>